body {
    line-height: 1;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #212121;
    margin: 0;
    padding: 0;
}




/* Start General configurations*/

.flot-left {
    float: left;
}
.flot-right {
    float: right;
}

/* Start General configurations*/

.contenido {
    width: 80%;
    height: 8000px;
    background-color: magenta;            
    margin: auto;
}

/* Start navigation bar */
.page_header{
    position: sticky; 
    top: 0;
    background-color: brown;
    height: 45px;
}


.nav_bar {
    background-color: mediumslateblue;
    width: 85%;
    height: 100%;
    margin: auto; 
}


.menu-search-container {    
    width: 5%;
    height: 45px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
}
.menu-search-container a{
    padding: 0 30px 0 0;
}

.title-left-container {
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    width: 12%;
    height: 45px;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
}

.title-left-container a {
  text-decoration: none;
  color: black;
}

.title-left-container a:hover {
    text-decoration: underline;
    color: black;
  }

.logo-container {
    /*display: inline-block;    
    vertical-align: sub;    */
    
    width: 76%;
    height: 45px;

}
.logo{
    width: 20%;
    margin: auto;
}


.suscribe-login-container {
    background-color: chartreuse;
    width: 7%;
}

.css-1fe7a5q {
    display: inline-block;
    height: 16px;
    vertical-align: sub;
    width: 16px;
}

/* End navigation bar */


/*Main article section*/

.main_art_title{
    background-color: green;
    width: 100%;
}
.main_photo_viewer{
    background-color: darkblue;
    width: 100%;
}
.figure_caption{
    background-color: darkgreen;
}

.css-1d50gvk {
    align-self: center;
    background-color: transparent;
    bottom: 0.05rem;
    color: rgb(102, 102, 102);
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    height: 25px;
    line-height: 1rem;
    margin-left: 2px;
    min-width: 24px;
    position: relative;
    text-transform: uppercase;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    overflow: visible;
    padding: 0px 0px 4px;
}

.main_article_text{
    background-color: rgb(187, 187, 90);
}

/*Aside section (editors_pick)*/

.editors_picks{
    background-color: rgb(238, 175, 175);
}

.editors_articles_div{
    background-color: rgba(163, 50, 72, 0.692);
}

.editors_article_col{
    background-color: coral;
}

.img_pick_col{
    height: 50px;
}

.recomended_left{
    background-color: rgb(80, 77, 83);
}
.recomended_left img{
    height: 100px;
}
.recomended_right{
    background-color: rgba(27, 43, 185, 0.678);
}








